[submodule "lib/fonts"]
	path = lib/fonts
	url = https://github.com/jonathonf/solbera-dnd-fonts/tree/master
[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/jonathonf/solbera-dnd-fonts
[submodule "lib/solbera-dnd-fonts"]
	path = lib/solbera-dnd-fonts
	url = https://github.com/jonathonf/solbera-dnd-fonts
